<div class="form-content">
    <div class="form-row">
        <input type="text" name="name" placeholder="Enter your name..." value="{{ form.name.value is defined ? form.name.value : '' }}">
        {% include 'elements/errors.twig' with {'errors': form.name.errors is defined ? form.name.errors : null} only %} 
    </div>
    <div class="form-row">
        <select name="quiz">
            <option value="0">Choose test</option>
            {% for quiz in quizes %}
                {% set is_default = form.quiz.value is defined and form.quiz.value == quiz.id ? form.quiz.value : 0 %}
                <option value="{{ quiz.id }}" {{ is_default ? 'selected' : '' }}>{{ quiz.name }}</option>
            {% endfor %}
        </select>
        {% include 'elements/errors.twig' with {'errors': form.quiz.errors is defined ? form.quiz.errors : null} only %}
    </div>
    <br>
    <div class="form-row">
        <input id="submit_form" type="submit" value="Start">
    </div>
</div>
