<div class="form-content">
    <h2></h2>
    <div class="form-row">
        <div class="input-group">
            {% for answer in form.answer.options %}
                <label for="answer-{{ answer.id }}" class="answer-option">
                    <input type="radio" id="answer-{{ answer.id }}" name="answer" value="{{ answer.id }}">
                    <div class="option-text">
                        {{ answer.text }}
                    </div>
                </label>
            {% endfor %}
        </div>
        {% include 'elements/errors.twig' with {'errors': form.answer.errors is defined ? form.answer.errors : null} only %} 
    </div>
    <div class="form-row">
        <div class="progress-container">
            <div class="progress-bar" style="width:{{ progress }}%">{{ progress }}%</div>
        </div>
    </div>
    <div class="form-row">
        <input id="submit_form" type="submit" value="{{ button_text }}">
    </div>
</div>