<h1>Quiz!</h1>
<div class="quiz-container">
    <form method="post" id="quiz_form">
        {% include 'form/quiz-form.twig' with {'question': question, 'button_text' : button_text, 'form' : form, 'progress' : progress } only %}
    </form>
</div>