<h1>Thanks, {{ results.user_name }}!</h1>
<p>You responded correctly to {{ results.correct_answers }} out of {{ results.total_answers }} questions.</p>
<p><a class="try-again" href="/">Try again!</a></p>