html{
    body{
        margin: 0;
        padding: 0;
        font-family: $font_family;
        background: $light_gray;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
        /*        background: rgb(98,125,77);  Old browsers 
                background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);  FF3.6-15 
                background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  Chrome10-25,Safari5.1-6 
                background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 );  IE6-9 */
        main{
            div.container{
                width: calc(100% - 20px);
                padding: 10px;
                background-color: $white;
                float: left;
                h1{
                    color: $black;
                    text-align: center;
                }
                p{
                    font-size: 1.4em;
                    text-align: center;
                }
                a{
                    color: $link_color;
                }
            }
        }
    }
}

@include monitors{
    html{
        body{
            main{
                div.container{
                    width: calc(50% - 40px);
                    margin: 30px 25% 0;
                    padding: 20px;
                    @include box-shadow(0px, 14px, 16px, rgba(0,0,0,0.55));

                    h1{
                        font-size: 3em;
                    }
                }
            }
        }
    }
}

@include mobiles{
    html{
        body{
            main{
                div.container{
                    background: $light_gray;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
                    /*                    background: rgb(98,125,77);  Old browsers 
                                        background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);  FF3.6-15 
                                        background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  Chrome10-25,Safari5.1-6 
                                        background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 );  IE6-9 */
                    h1{
                        font-size: 2em;
                    }
                }
            }
        }
    }
}