form{
    .form-row{
        width: 100%;
        float: left;
        input[type=text], input[type=submit], select {
            height: 40px;
            padding: 5px;
            font-size: 1.4em;
            border: 3px solid $input_border_color;
            width: calc(100% - 16px);
            &:focus{
                outline-offset: 0;
                outline: none;
            }
        }

        input[type=submit]{
            font-weight: 700;
            &:hover{
                background-color: $input_border_color;
                color: $white;
                cursor: pointer;
            }   
        }

        .input-group{
            label.answer-option{
                display: block;
                height: 60px;
                float: left;
                &:hover{
                    cursor: pointer;
                    div.option-text{
                        background-color: $light-gray;
                    }
                }
                input[type=radio]{
                    display: none;
                    &:checked + div.option-text {
                        border-color: $input_border_color;
                        background-color: $light-gray;
                    }
                }
                div.option-text{
                    height: 44px;
                    font-size: 1.8em;
                    line-height: 44px;
                    font-weight: bold;
                    text-align: center;
                    padding: 5px;
                    border: 3px solid darken($light-gray, 10%);                    
                    width: calc(100% - 16px);
                }

            }
        }

        .form-errors{
            margin: 5px 0 0;
            float: left;
            clear: both;
            span{
                margin: 5px 0;
                color: $error_color;
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        .progress-container{
            background-color: $light_gray;
            border: 1px solid darken($light_gray, 10%);
            width: calc(100% - 2px);
            height: 20px;
            .progress-bar{
                background-color: $pastel_red;
                height: 16px;
                color: white;
                font-weight: 700;
                font-size: 12px;
                text-align: center;
                line-height: 16px;
                padding: 3px 0;
                margin: -1px -1 0;
            }
        }
    }
}

@include monitors{
    form{
        .form-row{
            margin: 30px 0;

            .input-group{
                label.answer-option{
                    margin: 5px 0px;//dinamisks
                    width: calc(50% - 20px);//dinamisks
                    &:nth-child(2n){
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}

@include mobiles{
    form{
        .form-row{
            margin: 15px 0;

            .input-group{
                label.answer-option{
                    margin: 5px 0;//dinamisks
                    width: 100%;//dinamisks
                }
            }
        }
    }
}