//fonts
$font_family: '"Courier New", Courier, monospace';

//font-size

//colors
$gunmetal: #292F36;
$medium_turquoise: #4ECDC4;
$mint_cream: #F7FFF7;
$pastel_red: #FF6B6B;
$maize: #FFE66D;
$white: #FFFFFF;
$black: #000000;
$blue: #2644B5;
$light_gray: #EEEEEE;
$orangered: orangered;
$green: #25410e;

$body_bg_color: $light_gray;
$container_bg_color: $white;
$link_color: $medium_turquoise;
$container_border_color: $gunmetal;
$input_border_color: $green;
$error_color: $blue;
$progressbar_bg_color: $green;
//breakpoints

//BS4 breakpoints
$sm_max_width: 767.98px;
$lg_min_width: 768px;