html body {
  margin: 0;
  padding: 0;
  font-family: '"Courier New", Courier, monospace';
  background: #EEEEEE;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
  /*        background: rgb(98,125,77);  Old browsers 
          background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);  FF3.6-15 
          background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  Chrome10-25,Safari5.1-6 
          background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 );  IE6-9 */ }
  html body main div.container {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #FFFFFF;
    float: left; }
    html body main div.container h1 {
      color: #000000;
      text-align: center; }
    html body main div.container p {
      font-size: 1.4em;
      text-align: center; }
    html body main div.container a {
      color: #4ECDC4; }

@media all and (min-width: 768px) {
  html body main div.container {
    width: calc(50% - 40px);
    margin: 30px 25% 0;
    padding: 20px;
    box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.55); }
    html body main div.container h1 {
      font-size: 3em; } }
@media all and (max-width: 767.98px) {
  html body main div.container {
    background: #EEEEEE;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
    /*                    background: rgb(98,125,77);  Old browsers 
                        background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);  FF3.6-15 
                        background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  Chrome10-25,Safari5.1-6 
                        background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 );  IE6-9 */ }
    html body main div.container h1 {
      font-size: 2em; } }
form .form-row {
  width: 100%;
  float: left; }
  form .form-row input[type=text], form .form-row input[type=submit], form .form-row select {
    height: 40px;
    padding: 5px;
    font-size: 1.4em;
    border: 3px solid #25410e;
    width: calc(100% - 16px); }
    form .form-row input[type=text]:focus, form .form-row input[type=submit]:focus, form .form-row select:focus {
      outline-offset: 0;
      outline: none; }
  form .form-row input[type=submit] {
    font-weight: 700; }
    form .form-row input[type=submit]:hover {
      background-color: #25410e;
      color: #FFFFFF;
      cursor: pointer; }
  form .form-row .input-group label.answer-option {
    display: block;
    height: 60px;
    float: left; }
    form .form-row .input-group label.answer-option:hover {
      cursor: pointer; }
      form .form-row .input-group label.answer-option:hover div.option-text {
        background-color: #EEEEEE; }
    form .form-row .input-group label.answer-option input[type=radio] {
      display: none; }
      form .form-row .input-group label.answer-option input[type=radio]:checked + div.option-text {
        border-color: #25410e;
        background-color: #EEEEEE; }
    form .form-row .input-group label.answer-option div.option-text {
      height: 44px;
      font-size: 1.8em;
      line-height: 44px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      border: 3px solid #d5d5d5;
      width: calc(100% - 16px); }
  form .form-row .form-errors {
    margin: 5px 0 0;
    float: left;
    clear: both; }
    form .form-row .form-errors span {
      margin: 5px 0;
      color: #2644B5;
      font-size: 1.2em;
      font-weight: 700; }
  form .form-row .progress-container {
    background-color: #EEEEEE;
    border: 1px solid #d5d5d5;
    width: calc(100% - 2px);
    height: 20px; }
    form .form-row .progress-container .progress-bar {
      background-color: #FF6B6B;
      height: 16px;
      color: white;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      padding: 3px 0;
      margin: -1px -1 0; }

@media all and (min-width: 768px) {
  form .form-row {
    margin: 30px 0; }
    form .form-row .input-group label.answer-option {
      margin: 5px 0px;
      width: calc(50% - 20px); }
      form .form-row .input-group label.answer-option:nth-child(2n) {
        margin-left: 40px; } }
@media all and (max-width: 767.98px) {
  form .form-row {
    margin: 15px 0; }
    form .form-row .input-group label.answer-option {
      margin: 5px 0;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
