{% extends "layout/html.twig" %}
{% block title %}Quiz{% endblock %}
{% block content %}
    {% include 'container/quiz-container.twig' with {'question': question, 'button_text' : button_text, 'form' : form, 'progress' : progress } only %}
{% endblock %}