<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css">
        <title>{% block title %}{% endblock %} - PrintQuiz</title>
    </head>
    <body>
        <main>
            <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>